/* GLOBAL */
$color-main: #fed136;
$color-second: #bbbbbb;
$color-thin: #ffffff;
$color-bg: #f7f7f7;

$font-main: "Montserrat", sans-serif;
$font-second: "Roboto Slab", serif;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-family: $font-main;
}

.button-main {
  width: 240px;
  height: 60px;
  background: $color-main;
  color: $color-thin;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background: #edc025;
  }
}

h2.title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h3.subtitle {
  font-size: 16px;
  color: $color-second;
  font-style: italic;
  margin-bottom: 80px;
}

h3.services-title {
  font-weight: bold;
  font-size: 18px;
}

/* HEADER */
header {
  background-image: url("../images/header-bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;

  nav {
    height: 50px;

    span.logo {
      color: $color-main;
      text-transform: uppercase;
      line-height: 50px;
      font-weight: bold;
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        a {
          color: $color-thin;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 50px;
          transition: 0.3s;
          &:hover {
            border-bottom: 3px solid $color-main;
          }
        }
      }
    }
  }

  div.header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color-thin;

    .page-subtitle {
      font-size: 40px;
      font-style: italic;
      margin-bottom: 50px;
    }

    .page-title {
      font-size: 75px;
      font-weight: bold;
      margin-bottom: 60px;
      text-transform: uppercase;
    }
  }
}

/* SERVICES */
div.services {
  text-align: center;
  margin: 120px auto;

  i {
    color: $color-main;
    font-size: 40px;
    width: 80px;
    height: 80px;
    line-height: 70px;
    border: 3px solid $color-main;
    border-radius: 50%;
    transition: 0.3s;
    margin-bottom: 25px;
    &:hover {
      background: $color-main;
      color: $color-thin;
    }
  }

  p {
    font-family: $font-second;
    font-size: 14px;
    color: $color-second;
    margin-top: 20px;
  }
}

/* PORTFOLIO */
section.portfolio {
  text-align: center;
  padding: 120px 0;
  background: $color-bg;

  h3.services-title {
    margin-top: 20px;
  }
}

/* FOOTER */
footer {
  padding: 40px 0;
  p {
    font-size: 14px;
    letter-spacing: -1px;
    display: inline-block;
  }

  ul {
    margin-left: 130px;
    display: inline-block;
    list-style: none;
    li {
      display: inline-block;
      a {
        font-size: 0;
      }

      i.fab {
        font-size: 20px;
        color: white;
        background: #222222;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        text-align: center;
        margin-right: 15px;
      }
    }
  }
}
